import React, { ReactNode } from "react";

import { AppProvider } from "@/providers";
import { AppSidebar } from "@/components/app-sidebar";
import { SidebarInset, SidebarProvider } from "@/components/ui/sidebar";

import "@/styles/globals.css";

export default function Layout({ children }<% if (isTypescript) { %>: { children: ReactNode }<% } %>) {
  return (
    <html lang="en">
      <body>
        <AppProvider>
          <SidebarProvider>
            <AppSidebar />
            <SidebarInset>{children}</SidebarInset>
          </SidebarProvider>
        </AppProvider>
      </body>
    </html>
  );
}
