import React, { useEffect } from "react";
<% if (isAppRouter) { _%>
import { useRouter } from "next/navigation";
<% } else { _%>
import { useRouter } from "next/router";
<% } _%>

export default function HomePage() {
  const { push } = useRouter();

  useEffect(() => {
    push("/<%= resources %>");
  }, []); // eslint-disable-line react-hooks/exhaustive-deps

  return <p>Loading...</p>;
};
